/*====================================================
    Author: Shannon Hodges
    ONE PAGE WEBSITE
=======================================================
    GENERIC STYLES
=====================================================*/



html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%
    -ma-text-size-size-adjust: 100%;
}

.myForm input[type="text"]{
    /*width*/
    width:300px;    
    /*margin*/
    margin:0px auto
    /*Border*/
    border-left: 1px solid #8D8D8D;
    border-right: 1px solid #8D8D8D;
    /*Border radius*/
    border-radius: 7px;


}